Diagnostics:
  ClangTidy:
    Add: [cppcoreguidelines-*, clang-analyzer-*, performance-*]
    Remove: [
        cppcoreguidelines-no-malloc,
        cppcoreguidelines-owning-memory, 
        cppcoreguidelines-pro-bounds-pointer-arithmetic,
        cppcoreguidelines-pro-type-union-access, 
    ]