[submodule "division_engine_core"]
	path = division_engine_core
	url = https://github.com/Den163/division_engine_core
[submodule "tools/division_shader_compiler"]
	path = tools/division_shader_compiler
	url = https://github.com/Den163/division_shader_compiler.git
